#page-auth{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100vh;

    @media screen and (max-width: 600px) {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    aside{
        flex: 7;

        background-color: #115293;
        color: #FFFFFF;

        display: flex;
        flex-direction: column;
        justify-content: center;
        
        padding: 120px 80px;

        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }

        strong{
            font: 700 30px 'Poppins', sans-serif;
            line-height: 42px;
            margin-top: 16px;
        }

        p{
            font-size: 20px;
            line-height: 32px;
            margin-top: 16px;
            color: #f8f8f8;
        }

        main{
            flex: 8;
            margin-top: 100px;

            @media screen and (max-width: 600px) {
                width: 100%;
            }
        }
}


    
